# dependencies
node_modules/

# environment variables
.env

# build files
dist/
build/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# vscode optional
.vscode/

# package lock optional
# package-lock.json