.footer-section{
    background: rgba(255, 255, 255, 0.2);
}
.footer{

    margin-top:100px;

    padding:60px 20px 30px 20px;

    text-align:center;

    background:rgba(255,255,255,0.5);

    backdrop-filter:blur(20px);

    border-top:1px solid rgba(255,255,255,0.3);

    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    margin-bottom: -20px;
}

.footer-logo{

    font-size:2rem;

    margin-bottom:10px;
}

.footer-description{

    font-size:1rem;

    color:#444;

    margin-bottom:30px;
}

.footer-links{

    display:flex;

    justify-content:center;

    gap:30px;

    list-style:none;

    margin-bottom:30px;

    padding:0;
}

.footer-links a{

    text-decoration:none;

    color:black;

    transition:0.3s ease;
}

.footer-links a:hover{

    color:#38bdf8;
}

.footer-copyright{

    color:#666;

    font-size:0.9rem;
}